body {
margin: 0;
background-color: black;
color: white;
font-family: sans-serif;
}

.main-header {
width: 100%; padding: 20px 30px; display: flex; justify-content: space-between; align-items: center; position: absolute; top: 0; left: 0;
}

.logo {
width: 60px;
height: auto;
}


.icon {
width: 24px;
margin-left: 15px;
transition: opacity 0.2s;
}

.icon:hover {
opacity: 0.6;
}

.logo {
width: 150px;
}

.icon {
width: 50px;
}

.menu-area {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.menu-list li {
    list-style: none;
font-size: 100px;        
font-weight: 700;      
margin: 15px 0;          
letter-spacing: 0;  
text-align: center;   
}

.menu-list li a {
color: white;
text-decoration: none;
transition: opacity 0.3s;
}

.menu-list li a:hover {
opacity: 0.6;
}

.about-section {
width: 100%;
height: 100vh;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

.about-img {
max-width: 90%;
height: auto;
}

